body {
    font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
}


.container{
    margin-top: 15px;
}

.bld {
    font-weight: bold;
}

.highlight {
    color: black;
    padding: 0;
    font-weight: 700;
    text-decoration: underline;
}

#text-title{
     font-weight: 700;
}

.text-row {
    padding: 0 5px 0 5px;
}

.text-p {
    padding: 5px 0 5px 0;
}

.text-p-icon {
    padding-right: 5px;
}
