<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/d3.v3.min.js"></script>
    <script src="../static/js/d3.layout.cloud.js"></script>
    <script src="../static/js/mark.js"></script>
    <script src="../static/js/jquery.mark.min.js"></script>
    <script src="../static/js/tether.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/text_visualization.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>
<body>
<div class="container">
    <div class="row"></div>

    <div class="row canvas"></div>

    <h3 class="row" id="text-title"></h3>
    <div class="row text-row">
{#        <div class="col text-col"></div>#}
{#        <div class="col text-col"></div>#}
{#        <div class="col text-col"></div>#}
    </div>
</div>
</body>
</html>
